/********************************************************************************/
.about{
	padding: 50px 150px;
}
.about .title{
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	text-decoration: underline #800000;
	padding-bottom: 80px;
}
.about .about-content{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.about .div-leftdiv{
	width: 45%;
}
.about .div-right{
	width: 55%;
}
.about .div-left img{
	height: 400px;
	width: 400px;
	border-radius: 6px;
	object-fit: cover;
}

.about .div-right .text{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .div-right .text span{
		color: #000000;
}
.about .div-right p{
	text-align: justify;
	font-size: 20px;
}

.about .div-right .button-two{
	display: inline-block;
	background-color: #fff;
	font-size: 40px;
	font-weight: 200;
	color: white;
	border: 2px solid #800000;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}