*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: Arial;

}

.navbar .max-width{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.logo{
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo a{
	color: orange;
	font-size: 35px;
	font-weight: bold;
	margin-left: 150px;
	border-top: 3px orange solid;
	border-bottom: 3px orange solid;
}
.logo span{
	color: #000;
	border-top: 3px black solid;
	border-bottom: 3px black solid;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu li a{
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-left: 25px;
	transition: color 1s;
}
.menu li .active{
	color: orange;
	font-size: 25px;
	font-weight: bold;
	margin-left: 25px;
	transition: color 1s;
}

.menu li a:hover{
	color: orange;
}

/****************************************************************/
.home{
	background-image: url('img1.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 1300px;
	height: 674px;
	margin-left: 30px;
}
.home .texte{
	color: white;
	font-size: 40px;
	padding: 200px;
	padding-top: 250px;
	padding-bottom: 0px;
}
.home .sous-texte{
	font-size: 25px;
}
.home p .find{
	font-weight: bold;
	color: black;	
}
.home .get{
	padding: 15px;
	width: 180px;
	background-color: orange;
	color: black;
	border: 1px black solid;
	border-radius: 5px;
	font-weight: bold;
}
.home .get:hover{
	background-color: black;
	color: orange;
	border: 1px orange solid;
}
.home .learn{
	padding: 15px;
	width: 180px;
	background-color: transparent;
	color: orange;
	border: 1px orange solid;
	border-radius: 5px;
	font-weight: bold;
	margin-left: 20px;
}
.home .learn:hover{
	background-color: black;
	color: orange;
	border: 1px orange solid;
	border-radius: 5px;
	font-weight: bold;
}
.home .button{
	margin-left: 400px;
}
p h4{
	display: inline-block;
}
.legende span{
	padding-left: 200px;
	font-weight: bold;
	color: orange;
}

/********************************************************************************/
.about{
	padding: 50px 150px;
}
.about .title{
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	text-decoration: underline #800000;
	padding-bottom: 80px;
}
.about .about-content{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.about .div-leftdiv{
	width: 45%;
}
.about .div-right{
	width: 55%;
}
.about .div-left img{
	height: 400px;
	width: 400px;
	border-radius: 6px;
	object-fit: cover;
}

.about .div-right .text{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .div-right .text span{
		color: #000000;
}
.about .div-right p{
	text-align: justify;
	font-size: 20px;
}

.about .div-right .button-two{
	display: inline-block;
	background-color: #fff;
	font-size: 40px;
	font-weight: 200;
	color: white;
	border: 2px solid #800000;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}
.enbas{
	padding-left: 400px;
	background-color: orange;
	font-weight: bold;
}
.basPage{
	display: inline-block;
}
.basPage h3{
	margin-top: 10px;
	width: 250px;
	font-size: 25px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
.basPage form label{
	padding-left: 50px;
}
.basPage form input{
	background-color: black;
	color: white;
	border-radius: 5px;
	padding-left: 50px;
}
.icones{
	display: inline-block;
}
